<section class="mt-32 bg-gray-200">
    <div class="w-[90%] mx-auto p-12">

        <h2 class="mb-5 text-3xl font-semibold">Get the FreshCart App</h2>

<div>
    <p class="text-gray-500">we will send you a link, Open it on your Phone to download the app</p>
<div class="flex items-center justify-between">
    <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm placeholder:text-gray-500 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[85%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="enter your email" />
    <a href="http://www.google.com/"><span class="w-[14%] text-[25px]">share app link</span></a>
    <!-- we need the right link to share -->
</div>
</div>

<div class="flex items-center justify-between mt-10">
    <div class="w-[50%] flex items-center gap-2">
        <span class="font-semibold text-gray-700 me-3">Payment Partners</span>
        <img src="/images/amazon-pay.png" class="w-[100px] h-[30px]" alt="amazon icon">
        <img src="/images/American-Express-Color.png" class="w-[100px] h-[40px]" alt="American Express icon">
        <img src="/images/mastercard.webp" class="w-[100px] h-[40px]" alt="mastercard icon">
    </div>

    
    <div class="w-[40%] flex items-center gap-2">
        <span class="font-semibold text-gray-700 me-3">Get Deliveries with FreshCart</span>
        <img src="/images/get-apple-store.png" class="w-[100px] h-[40px]" alt="apple store">
        <img src="/images/get-google-play.png" class="w-[100px] h-[40px]" alt="google play">

    </div>
</div>


</div>
</section>