<section class="w-[55%] my-10 mx-auto bg-gray-200 rounded-md p-5 shadow">
    <h2 class="mb-5 text-3xl font-semibold text-center text-green-950">Login Now</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="capitalize">
    
        <div class="mb-4">
            <label for="email" class="block mb-1 text-xl font-medium text-gray-900 ps-2 dark:text-white">email</label>
            <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            
            @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (loginForm.get('email')?.getError('required')) {
                            <li>email is required</li>                        
                          }
                          @else if (loginForm.get('email')?.getError('email')) {
                            <li>Enter a valid email</li>                        
                          }
                      </ul>
                    </div>
                  </div>
            }
        </div>
        
        <div class="mb-4">
            <label for="password" class="block mb-1 text-xl font-medium text-gray-900 ps-2 dark:text-white">password</label>
            <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            
            @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (loginForm.get('password')?.getError('required')) {
                            <li>password is required</li>                        
                          }
                          @else if (loginForm.get('password')?.getError('pattern')) {
                            <li>Enter a valid password</li>                        
                          }
                      </ul>
                    </div>
                  </div>
            }
        </div>
        <a routerLink = "/resetPassword" class="text-blue-500 ms-2 hover:text-blue-950">Forget Password</a>
        
        <button type="submit" class="btn-main">Sign in</button>
        <!-- [disabled]="loginForm.invalid" -->
    </form>
    
    </section>